@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*Introduction text*/
.introtext{
    text-align: center;
    padding: 150px 150px;
    margin: 10px 250px;
}

.introtext h1{
    padding-bottom: 50px;
    font-size: 3rem;
}
.introtext p{
    font-size: 16px;
}


/*cultural section*/
.cultural-section{
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url("assets/background2.png");
    background-size: cover;
}
.culturalsectiontitle{
    text-align: center;
    padding: 80px 0 0 0;
    font-size: 2.5rem;
    color: #333;
}
.culturaltext{
    text-align: center;
}
.cultural-container{
    position:relative;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 50px;
    padding: 80px 50px;
}

.cultural-container .cultural-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.cultural-container .cultural-card:hover{
    height: 400px;
}

.cultural-container .cultural-card .imgBx{
    position: absolute;
    width: 300px;
    height: 250px;
    top: 20px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.cultural-container .cultural-card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2); 
}

.cultural-container .cultural-card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cultural-container .cultural-card .cultural-content{
    position: absolute;
    top: 252px;
    height: 0px;
    width: 100%;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.cultural-container .cultural-card:hover .cultural-content{
    height: 180px;
    top: 150px;
}

.cultural-container .cultural-card .cultural-content p{
    color: #333;
}


/*structural barriers*/
