@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"inter", sans-serif;
}
.quotessection{
    display:grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(#fff,#8eb9e3);
    padding: 100px;
}
.wrapper{
    max-width: 1200px;
    padding: 0 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .box{
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    width: calc(33% - 10px);
}
.wrapper .box .fa-quote-left{
    font-size: 20px;
    color: #124374;
}
.wrapper .box .content{
    padding-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between
}
.wrapper .box .info .name{
    font-size:17px;
    font-weight: 600;
}
.wrapper .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #8eb9e3;
}
.wrapper .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background:#8eb9e3 ;
    border-radius: 50%;
}
.box .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border:2px solid #fff;
}
.box:hover{
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}