@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.resourcessection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    
    background: url("assets/redbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.resources-title h1{
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    margin: 0 auto 20px auto;
    padding-bottom: 5px;
    color: #fff5c9;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.2);
}
.wrapper{
    max-width: 1100px;
    padding: 20px 10px;
    margin: 0 60px 35px;
    overflow: hidden;
}
.wrapper .card{
    height: auto;
    background: #fff;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
    display: flex;
    transition: transform 0.3s ease;
}
.wrapper .card:hover{
    transform: translateY(-10px);
}
.card .card-image {
    position: relative;
}
.card .card-image img{
    width: 100%;
    padding: 10px;
    border-radius: 22px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.card .card-image .card-tag{
    position: absolute;
    left: 25px;
    top: 25px;
    color: #8a15c0;
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 5px 15px; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.9);
}
.card .card-content{
   display: flex;
   flex: 1;
   flex-direction: column;
   padding: 10px 25px 25px;
}
.card .card-content .card-title{
    color: #111111;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}
.card .card-content .card-text{
    color: #747474;
    font-size: .95rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 20px;
}
.card .card-content .card-footer{
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: auto;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.08);
}

.card .card-footer .card-profile{
    display: flex;
    align-items: center;
}
.card .card-profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card .card-profile .card-profile-info{
    display: flex;
    flex-direction: column;
}
.card .card-profile .card-profile-name{
    font-size: 0.875rem;
    font-weight: 600;
    color: #202020;
}
.card .card-profile .card-profile-role{
    font-size: 0.8rem;
    color: #7a7a7a;
}
.card .card-footer .card-button{
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.81rem;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
    box-shadow: 0 8px 15px rgba(99,102,241, 0.2);
    transition: all 0.3s ease;

}
.card .card-footer .card-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(99,102,241, 0.3);
}

.wrapper .swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: #eed1d1 
}
.wrapper .swiper-pagination-bullet-active::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #700a0a;
    transform: scaleX(0);
    transform-origin: left center;
    animation: autoplay-loading 5s linear forwards;
}

.container:hover .wrapper .swiper-pagination-bullet-active::before{
    animation-play-state: paused;
}
@keyframes autoplay-loading{
    100%{
        transform: scaleX(1);
    }
}

.wrapper :where(.swiper-button-prev, .swipper-button-next){
    color: #6366f1;
    margin-top: -35px;
    transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover{
    color:#ff0000;
}

/*Responsive design for small screens*/
@media (max-width: 768px){
    .wrapper{
        margin: 0 10px 25px;
    }
    .wrapper :where(.swiper-button-prev, .swipper-button-next){
        display: none;
    }
}

/*Scroll Animation on the top of the page*/
.scroll-indicator{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: linear-gradient(45deg, #667eea, #764ba2);
    z-index: 1000;
    transition: width 0.3s ease;
}
