*{
    margin: 0;
    padding: 0;
    font-family: "Monsterat", sans-serif;
}

/* Navigation Bar styling */
nav{
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 2;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;

}
nav a:hover{
    background-color: #555;
    border-radius: 5px;
}